<h2>In 2018, we had the opportunity to lease the unit immediately adjacent to our hair salon, and knew it was time
    to add spa services.
    From our talented estheticians to our experienced massage therapists, we have all the best day spa services you
    could need.
</h2>

<h2>Spa Services</h2>

<div *ngIf="services.length > 0">
    <table>
        <tr *ngFor="let service of services">
            <td (click)="toggleServiceDescription(service)" title="servicename">
                <p>{{ service.service }}</p>
            </td>
            <td (click)="toggleServiceDescription(service)" title="serviceprice">
                <p>{{ service.price }}</p>
            </td>
            <td title="servicedescription">
                <p *ngIf="service.showDescription">{{ service.description }}</p>
            </td>
        </tr>
    </table>
</div>