<h2>About us</h2>
<p>My name is Tanisha Bellows and I started Luxe Lounge back in 2004.
    I have many years of experience and love to show my clients my best. I am open to trying new things and
    broadening my horizons. Haircare is my specialty but I love improving my nail, makeup, and skincare abilities.
    Schedule with me below or with one of my amazing coworkers!
    We can't wait to meet you and thank you for making this dream a reality.
</p>
<img src="/images/Salonowner.jpeg" alt="Salonowner" />