<header>
  <h1>Luxe Salon</h1>
  <nav>
    <a class="button" routerLink="/about-component">About</a>
    <a class="button" routerLink="/services-component">Services</a>
    <a class="button" routerLink="/spa-component">Spa</a>
    <a class="button" routerLink="/staff-component">Staff</a>
    <a class="button" routerLink="/contact-us-component">Contact Us</a>
    <a class="button" routerLink="/policies-component">Policies</a>
    <a class="button" routerLink="/book-now-component">Book Now</a>
  </nav>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>

<footer>
  <h1>Luxe Salon</h1>
  <address>
    123 Sesame Street Suite ABC <br>
    Minneapolis, MN 55413<br>
    651-999-8888<br>
  </address>
</footer>