<figure>
    <img src="/images/Girl1.jpg" alt="Sarah" height="300" width="500">
    <figcaption>Hello, I'm Sara and I specialize in Makeup. Book with me!</figcaption>
</figure>

<figure>
    <img src="/images/Boy1.jpg" alt="Ethan" height="400" width="400">
    <figcaption>Hello, I'm Ethan and I specialize in Nails. Book with me!</figcaption>
</figure>

<figure>
    <img src="/images/Boy2.jpg" alt="Glen" height="450" width="350">
    <figcaption>Hello, I'm Glen and I specialize in Hair. Book with me!</figcaption>
</figure>


<figure>
    <img src="/images/Girl2.jpg" alt="Jasmine" height="300" width="500">
    <figcaption>Hello, I'm Jasmine and I specialize in Skincare. Book with me!</figcaption>
</figure>