<h2>In 2018, we had the opportunity to lease the unit immediately adjacent to our hair salon, and knew it was time
    to add spa services.
    From our talented estheticians to our experienced massage therapists, we have all the best day spa services you
    could need.
</h2>

<h2>Spa Services</h2>

<table>
    <tr>
        <td>Hydra-facial</td>
        <td>Essential Facial</td>
        <td>Chemical Peel</td>
        <td>Brow Wax</td>
        <td>Brow Tint</td>
        <td>Brow Lamination</td>
        <td>30 Minute Massage</td>
        <td>60 Minute Massage</td>
        <td>90 Minute Massage</td>
        <td>Myofascial Release</td>
    </tr>
</table>