<h1>Policies</h1>
<div id="policiesText">
    <h3>Cancellation and No Shows</h3>
    <p>Every client is important to us, and we understand things come up that may cause you to miss your appointment.
        With that
        in mind, we also want to give your appointment the time and attention it deserves.

        As a result, we respectfully request at least 24 hours’ notice if you need to cancel or make changes to your
        appointment
        time. Failing to give 24-hour notice will result in a 50% charge of your booked service. Any no-shows will be
        charged
        100% of their service amount.</p>

    <h3>Late Policy</h3>
    <p>Please be sure to arrive on time for your appointment. Arriving late may result in your appointment being
        canceled or
        rescheduled. Please call us at 651-999-8888 if you know you are going to be over 10 minutes late, so we can
        advise you
        on whether or not to attend your appointment.</p>

    <h3>Refund Policy Example</h3>
    <p>Our goal is for each client to love their results. In the event that you are dissatisfied with your service(s),
        our
        refund policies are laid out as such:

        1. Services received cannot be refunded. We will gladly adjust any service you receive within three (3) days of
        your
        appointment. If you are not satisfied with the work performed, please return to the salon, so your hair can be
        visually
        inspected. At that time, we will make every effort to correct any problems to your satisfaction by rescheduling
        you with
        the stylist who performed the initial service, at no additional charge to you.

        2. Refunds for products purchased will only be considered if presented within seven (7) days of purchase.
        Products can
        only be refunded if unused and in its original packaging. If a product is opened or used, it is possible that a
        restocking fee will be charged. For all product refunds, a receipt is necessary.</p>
</div>