<h1>Sources</h1>
<div id="bibliography">
    <p>Here are the text and image sources for our project.</p>
    <p>Images for the salon and staff bios were sourced from unsplash.com, and are all provided for free use by the
        photographer. <a href="https://unsplash.com/collections/-ij9-tZvPIc/seis-622-final-project">More details about
            each
            photo are available in this collection.</a> <br/>Please note, some
        images were resized on Canva to ensure they would display correctly, but they were not altered or photoshopped
        in
        any other way.</p>
    <p>Fonts were found on Google Font. <a
            href="https://developers.google.com/fonts/faq#can_i_use_any_font_in_a_commercial_product">You can locate
            information about their licensing here.</a></p>
    <p>The instagram and facebook icons in the footer were provided by Meta and complies with their brand guidelines.<a
            href="https://about.meta.com/brand/resources/">You can find their brand guidelines for asset usage here.</a>
    </p>
    <p><a target="_blank" href="https://icons8.com/icon/64767/favorite">Our favicon</a> is by <a target="_blank"
            href="https://icons8.com">Icons8</a></p>
    <p>Most text was written by us, but sample salon policies were obtained from <a
            href="https://www.schedulicity.com/essentials/blog/policies-procedures-for-clients-in-salons-examples/">a
            schedulicity blog post.</a></p>
</div>