<h2>Services Offered</h2>
<div *ngIf="services.length > 0">
    <table id="salonservices">
        <tr *ngFor="let service of services">
            <td (click)="toggleServiceDescription(service)" title="servicename">
                <p>{{ service.service }}</p>
            </td>
            <td (click)="toggleServiceDescription(service)" title="serviceprice">
                <p>{{ service.price }}</p>
            </td>
            <td title="servicedescription">
                <p *ngIf="service.showDescription">{{ service.description }}</p>
            </td>
        </tr>
    </table>
</div>