<h2>Services Offered</h2>
<div *ngIf="services.length > 0">
    <!-- <ul>
        <li *ngFor="let service of services">
            <h3>{{ service.service }}</h3>
            <p>{{ service.description }}</p>
            <p><strong>Price:</strong> ${{ service.price }}</p>
        </li>
    </ul> -->

    <table>
        <tr *ngFor="let service of services">
            <td title="servicename">{{ service.service }}</td>
            <td title="serviceprice">{{ service.price }}</td>
            <td title="servicedescription">{{ service.description }}</td>
        </tr>
    </table>
</div>

<p>Interested in our spa services? <a href="Spa.html">Click here to learn more!</a></p>